.todo-input {
  display: block;
  width: 100%;
}

.todo-input input {
  width: 100%;
  min-height: 45px;
  padding: 0 15px;
  outline: none;
  border: none;
  background-color: var(--td-dark-blue);
  color: var(--td-text-color-white);
  border-radius: 5px;
  font-size: 0.9rem;
}
